.img{
	width: 1280px;
	height :800px;
}
body{
	background-image: url(../img/fondo.jpg);
	 background-size: 1280px 800px;
	 background-repeat: no-repeat;
}
.hola{
	position: absolute;
	left: 50px;
	top: 100px;

}