body{
	background-image: url(../img/fondo.jpg);
	 background-repeat: no-repeat;
}

/*seccion inicio*/
#logo{
	position: absolute;
    left: 350px;
    top: 0px;
}
.btn_empezar_inicio{
	position: absolute;
    left: 580px;
    top: 620px;
}

/*seccion nino o nina*/
.avatar{
    position: absolute;
    left: 400px;
    top: 50px;
}
.volver_avatar{
	position: absolute;
    left: 300px;
    top: 400px;
}
.siguiente_avatar{
	position: absolute;
    left: 900px;
    top: 400px;
}

/*seccion personajes*/
#nino{
    position: absolute;
    left: 200px;
    top: 100px;
}
#nina{
    position: absolute;
    left: 700px;
    top: 100px;
}
#msg_crear_personajes{
    position: absolute;
    left: 300px;
    top: 600px;
}

/*seccion menu*/
.btn_inicio{
    position: absolute;
    left: 43px;
    top: 41px;
}
.btn_logros{
    position: absolute;
    left: 135px;
    top: 41px;
}
#nin_roca   {
    position: absolute;
    left: 40px;
    top: 450px;
}
#msg_inicio{
    position: absolute;
    left: 310px;
    top: 430px;
}

/*seccion logros*/
#msg_logro{
    position: absolute;
    left: 80px;
    top: 200px;
}
#img_logro{
    position: absolute;
    left: 800px;
    top: 50px;
}
#btn_logro_volver{
    position: absolute;
    left: 741px;
    top: 400px;
}
#btn_logro_siguiente{
    position: absolute;
    left: 1215px;
    top: 400px;
}