body{
	background-image: url(../img/fondo.jpg);
	 background-repeat: no-repeat;
}

/*seccion inicio*/
#logo{
	position: absolute;
    left: 350px;
    top: 0px;
}
.btn_empezar_inicio{
	position: absolute;
    left: 580px;
    top: 620px;
}

/*seccion nino o nina*/
.avatar{
    position: absolute;
    left: 400px;
    top: 50px;
}
.volver_avatar{
	position: absolute;
    left: 300px;
    top: 400px;
}
.siguiente_avatar{
	position: absolute;
    left: 900px;
    top: 400px;
}

/*seccion personajes*/
#nino{
    position: absolute;
    left: 200px;
    top: 100px;
}
#nina{
    position: absolute;
    left: 700px;
    top: 100px;
}